@import url(main.css);
@import url(modal.css);

/* Contenedor principal */
.c-admin {
	display: grid;
	grid-template-columns: minmax(250px, 350px) 1fr;
	background: var(--neutral);
	min-height: 100vh;
}

/* Sub contenedor de Admin Info */
.admin-info {
	background-color: var(--blue);
	color: var(--light);
}

.admin-info__inner {
	position: sticky;
	top: 0;
	display: grid;
	justify-items: center;
	gap: 1em;
}

.c-img-logo {
	padding: 1.5em;
}

.informacion-admin {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

.informacion-admin-2 {
	width: 100%;
	padding-inline: 3rem;
	text-align: justify;
}

.informacion-admin-2 p {
	margin-block: 1rem;
	line-height: 1rem;
}

.informacion-admin img {
	margin: auto;
}

.informacion-admin p {
	font-size: 30px;
	font-weight: bold;
}

/* Boton para cerrar sesión */
.c-cerrar-sesion {
	width: 100%;
	text-align: center;
	margin-block-start: 2rem;
}

/* Sub contenedor de Admin Funciones */
.c-admin-funciones {
	padding: 2rem;
	align-items: center;
}

.admin-funciones {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr auto;
	background-color: #00000047;
	margin-block: 2rem;
	border-radius: 7px;
	padding: 1rem;
	align-items: center;
}

.info-contenedor {
	display: flex;
	align-items: center;
}

.admin-funciones img {
	width: 5%;
	margin-right: 1rem;
}

.info-estudiante {
	width: 100%;
}

/* Contenedor para los botones */
.botones {
	width: 100%;
}

.boton-editar {
	background-color: yellow;
	padding: 10px 30px;
	border: none;
	font-size: 1rem;
	font-weight: bold;
	margin-inline: 1rem;
	cursor: pointer;
	border-radius: 7px;
}

.boton-eliminar {
	background-color: red;
	font-size: 1rem;
	font-weight: bold;
	margin-inline: 1rem;
	padding: 10px 30px;
	color: var(--light);
	cursor: pointer;
	border: none;
	border-radius: 7px;
}

.boton-añadir {
	width: 10%;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boton-añadir-container {
	display: flex;
	justify-content: center;
	width: 100%;
}
