@import url(main.css);
@import url(modal.css);

/* NavBar */
.c-admin {
	display: grid;
	grid-template-columns: minmax(250px, 350px) 1fr;
	background: var(--neutral);
	min-height: 100vh;
}

.admin-info {
	background-color: var(--blue);
	color: var(--light);
}

.admin-info__inner {
	position: sticky;
	top: 0;
	display: grid;
	justify-items: center;
	gap: 1em;
}

.c-img-logo {
	padding: 1.5em;
}

.informacion-admin {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

.informacion-admin-2 {
	width: 100%;
	padding-inline: 3rem;
	text-align: justify;
}

.informacion-admin-2 p {
	margin-block: 1rem;
	line-height: 1rem;
}

.informacion-admin img {
	margin: auto;
}

.informacion-admin p {
	font-size: 30px;
	font-weight: bold;
}

/* NavMenu */
.admin-nav {
	padding: 2em 0;
	width: 100%;
}

.admin-nav .nav-link {
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 1em 2em;
}

.admin-nav .nav-link:hover,
.admin-nav .nav-link.active {
	background: #2463cf;
}

.admin-nav .nav-link.active {
	border-right: 2px solid var(--light);
}

.c-cerrar-sesion {
	width: 100%;
	text-align: center;
	margin-block-start: 2rem;
}

/* Botones - Editar/Eliminar/Añadir */
.boton-editar {
	background-color: var(--yellow);
	font-size: 1rem;
	padding: 10px 30px;
	border: none;
	font-weight: bold;
	margin-inline: 1rem;
	cursor: pointer;
	border-radius: 7px;
}

.boton-añadir {
	width: 10%;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boton-añadir-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.icono-perfil {
	font-size: 2rem;
}

/* Cartillas para bloques */

.bloques {
	margin: 3rem;
}

.lista-bloque {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-block: 2rem;
}

.card-bloque {
	background-color: #f9f9f9;
	border: 2px solid #ddd;
	border-radius: 8px;
	padding: 1rem;
	text-align: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.5s;
}

.card-bloque:hover {
	transform: translateY(-5px);
}

.card-bloque h3 {
	font-size: 20px;
	font-weight: bold;
}


/* Modal para añadir estudiantes */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	padding: 2rem;
	border-radius: 7px;
	border: 1px solid #888;
	width: 100%;
	max-width: 500px;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.lista-bloque button {
	margin: auto;
}

#openModalButton {
	background-color: var(--green);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 1rem 2rem;
	font-size: 1rem;
	width: 50%;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#openModalButton i {
	font-size: 1.5rem;
}

#openModalButton:hover {
	background-color: #45a049;
	transform: translateY(-2px);
}

#openModalButton:active {
	transform: translateY(1px);
}
